.brainup-text-check{
  margin-top:3px;
  
}

.brainup-icon-check{
  color:green;
}

.icontela04 {
  width: 50px;
  text-align: center;
  margin-top: 30px;
  margin-left: 15px;
}

.Mimagemcard {
  margin:auto;
}

.tituloh1card {
  font-size:16px
}



.marginentrecard {
  padding: 10px;
}
.tamanhocard{
  width: 400px;
  max-width: 500px;
}

.brainup-icon {
  width: 30px;
}

.brainup-logo {
  width: 150px;
  margin-left: -20px;
  
}

h1 {
  color:#7601fa ;
}

.btn-primary {
  background-color: #7601fa !important;
}
.corMenuCelular{
  background: #7601fa !important; ;
}
.marginParaOverflow{
  margin-top: 10%;
}
@media (max-width: 660px) {
  .marginParaOverflow{
    margin-top: 0%;
  }
  .overflow-hidden{
    display: none;
  }
  .margemSeçãoDois{
    display: none !important;
  }
} 